@charset "utf-8";

html {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  text-align: center;
  width: 1400px;
}

.title{
  font-size: xx-large;
  margin: 20px 0;
}
.main{
  width: 650px;
  margin: 0 auto;
}
.form-group{
  text-align: left;
}

p{
  margin: 15px 0 10px 0;
}
.form{
  width: 300px;
}
.right{
  margin-left: 12px;
}
.s-form{
  width: 200px;
}
.form.big{
  width: 620px;
}
.radio{
  margin: 15px 0 10px 0;
}
