@charset "utf-8";

html {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  text-align: center;
  width: 1400px;
}

a {
  text-decoration: none;
}

#container {
  width: 1300px;
  margin: 0 auto;
}

.login-container {
  margin-top: 150px;
}

.loginBtn {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
  text-align: right;
}

.link {
  text-align: left;
}

.title{
  font-size: xx-large;
  margin: 20px 0;
}
.main{
  width: 650px;
  margin: 0 auto;
}
.form-group{
  text-align: left;
}

p{
  margin: 15px 0 10px 0;
}
.form{
  width: 300px;
}
.right{
  margin-left: 12px;
}
.s-form{
  width: 200px;
}
.form.big{
  width: 620px;
}
.radio{
  margin: 15px 0 10px 0;
}
.btn{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  height: 30px;
  width: 100px;
  margin-bottom: 30px;
}
