@charset "utf-8";

body{
  width: 1500px;

}

a {
  text-decoration: none;
}

.header{
  width: 1300px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
#container{
  width: 1300px;
  margin: 0 auto;

}


.search{
  text-align: right;
}

.search .btn-primary{
 width: 200px;
}

.users{

  display: inline-grid;
  width: 300px;
  margin: 50px 64px;
  height: 200px;
}
.detail{
  margin: auto;
}
/* modal */

.modal-header{
  border: none;
}
.selection{
  align-items: baseline;
}
.title{
  width: 120px;
  margin-left: 10px;
}
span{
  margin-right: 20px;
}
.show{
  display: flex;
  margin-bottom: 50px;
}
.order{
  margin-left: 10px;
}
.teacher{
  width: 300px;
}
.checkbox{
  margin: 0 10px 20px 0;
}

.modal-footer{
  border: none;
}
.modal-footer .btn{
  width: 110px;
}

/* ページ送りを中央寄せ */
.pagination {
  justify-content: center;
  margin-bottom: 50px;
}

/* ページ送りを横並びに */
.pagination li {
  display: inline-block;
}
